<p>
  Registration
</p>

<div>
  <video id="video" width="320" height="240" preload autoplay loop muted></video>
  <canvas id="canvas" width="320" height="240"></canvas>
</div>
<div *ngIf="groupList">
  <h3>{{group.personGroupId}}</h3>
  <label for="groupSelect">Select group to join:</label>
  <select id="groupSelect" [(ngModel)]="group.personGroupId">
    <option selected>Select group...</option>
    <option *ngFor="let group of groupList" [value]="group.personGroupId">{{group.name}}</option>
  </select>
</div>
<div>
  <label for="userName">User name:</label>
  <input id="userName" [(ngModel)]="userName" title="User Name" />

  <button (click)="registerPerson()">Register</button>
</div>


