<div>
  <video id="video" width="320" height="240" preload autoplay loop muted></video>
  <canvas id="canvas" width="320" height="240"></canvas>
</div>
<div>
  <button (click)="getData()">Get Person Description</button>
  <button (click)="identifyUser()">Identify</button>
</div>
<div *ngIf="person">
  <table class='table' *ngIf="person.faceAttributes">
    <thead>
      <tr>
        <th>Age</th>
        <th>Gender</th>
        <th>Has glasses</th>
        <th>Hair color</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ person.faceAttributes.age}}</td>
        <td>{{ person.faceAttributes.gender }}</td>
        <td>{{ person.faceAttributes.glasses }}</td>
        <td>{{ person.faceAttributes.hair.hairColor[0].color }}</td>
      </tr>
    </tbody>
  </table>
  <div>{{person.description}}</div>
  <div>
    <p>Tags</p>
    <ul *ngFor="let tag of person.tags">
      <li>{{ tag.name }}</li>
    </ul>
  </div>
</div>
